#mainContainer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: lime;
  width: 100%;
}
#targetContainer{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#hit{
  position: absolute;
  width: 3ch;
  aspect-ratio: 1/1;
  border-radius: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid red;
  background: white;
  transform: translate(-50%, -50%);
}

#correctionContainer table {
  width: 100%;
}