html, body{
  height: 100vh;
      overflow-y: hidden;
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
}

#root{
  display: relative;
  height: 100%;

}
#mainContainer{
  position: relative;
  height: 100%;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
  font-family: "Arial";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100vw;
  flex-direction: row;
}
#targetContainer{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#hit{
  position: absolute;
  width: 3ch;
  aspect-ratio: 1/1;
  border-radius: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid red;
  background: white;
  transform: translate(-50%, -50%);
}