#middleBar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 2px 5px 1px black;
    border-top: 1px solid black;
    height: 3rem;
    margin: 0 0 1rem 0;
}

.middleBar_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
}

#detailedHit{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: "Arial";
}

#detailedHit_100{
    font-size: 1.5rem;
}